---
import MainLayout from '@/layouts/MainLayout.astro'
import HeaderPage from '@/components/HeaderPage.astro'
---

<MainLayout
  titlePage='Calendario de Eventos de la Comunidad | GYE TECH'
  descriptionPage='No te pierdas ningún evento de la comunidad tecnológica más grande del Ecuador, Guayaquil Tech.'>
  <HeaderPage>
    Listado de <span class='text-primary'>Comunidades</span>
  </HeaderPage>
</MainLayout>
