---
import MainLayout from '@/layouts/MainLayout.astro'
import HeaderPage from '@/components/HeaderPage.astro'
import CalendarIcon from '@/icons/CalendarIcon.astro'
import NetworkIcon from '@/icons/NetworkIcon.astro'

const routes = [
  {
    title: 'Comunidades',
    icon: NetworkIcon,
    description: 'Explora diversas comunidades Tech',
    link: '/comunidades/'
  },
  {
    title: 'Eventos',
    icon: CalendarIcon,
    description: 'Descubre los mejores eventos Tech',
    link: '/eventos/'
  }
]
---

<MainLayout
  titlePage='Comunidad de Comunidades Tech | GUAYAQUIL TECH'
  descriptionPage='Colectivo de apasionados por la tecnología que lidera iniciativas destinadas a fomentar el desarrollo del ecosistema tecnológico en Guayaquil.'>
  <section
    class='section-container flex flex-col justify-center items-center w-full min-h-[calc(100vh-130px)]'>
    <HeaderPage>
      La Comunidad de <span class='text-primary'>Comunidades</span>
    </HeaderPage>

    <section class='w-full py-10 justify-center items-center flex flex-wrap gap-6'>
      {
        routes.map(route => (
          <a href={route.link} class='hover:opacity-70 w-full max-w-xs h-full'>
            <article class='flex items-center'>
              <span class='relative w-full h-full inline-flex overflow-hidden rounded-md p-[1px]'>
                <span class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#CAED65_0%,#21554E_50%,#CAED65_100%)]' />
                <div class='w-full px-3 py-4 rounded-md bg-blue-900 text-slate-300 backdrop-blur-3xl'>
                  <route.icon className='text-slate-300 w-6 h-6 mb-2' />
                  <h2 class='text-white mb-2 text-left font-medium text-lg tracking-wider [text-wrap:balance] sm:text-2xl whitespace-nowrap'>
                    {route.title}
                  </h2>
                  <h3 class='text-sm text-slate-300'>{route.description}</h3>
                </div>
              </span>
            </article>
          </a>
        ))
      }
    </section>
  </section>
</MainLayout>
