---
import Logo from '@/components/Logo.astro'
---

<section>
  <Logo className='mx-auto mb-4 w-full h-auto max-w-sm' />

  <h1 class='text-center text-lg font-medium text-slate-300 sm:text-3xl'>
    <slot />
  </h1>
</section>
