---
import BaseHead from '@/components/BaseHead.astro'
import BaseBodyLayout from '@/layouts/BaseBodyLayout.astro'
import BackArrowButton from '@/components/BackArrowButton.astro'
import CommunityCard from '@/features/communityList/CommunityCard.astro'
import type { Community } from '@/types'

interface Props {
  titlePage: string
  descriptionPage: string
  community: Community
}

const { titlePage, descriptionPage, community } = Astro.props
---

<!doctype html>
<html lang='es'>
  <BaseHead titlePage={titlePage} descriptionPage={descriptionPage} />
  <BaseBodyLayout>
    <section
      class='flex flex-col max-w-screen-lg mx-auto gap-6 py-4 justify-center items-center min-h-screen'>
      <CommunityCard community={community} />
      <div class='w-full flex justify-center items-center'>
        <BackArrowButton link='/comunidades/' text='Listado de Comunidades' />
      </div>
    </section>
  </BaseBodyLayout>
</html>
